<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="Shortcut Icon" href="favicon.ico" type="image/x-icon" />

    <title>
        光圣科技宁波有限公司
    </title>
    <meta name="keywords" content="" />
</head>
<body>
    &quot;
    <meta name="description" content="宁波市光圣科技股份有限公司成立于2002年10月,公司总部坐落于宁波保税南区。

    公司获得英国BSI公司ISO 9001-2008质量体系认证和ISO14001环境体系认证，为专业CATV部件及光通讯产品制造商。" />&quot;
    <!-- CSS code -->
    <link rel="stylesheet" type="text/css" href="~/Content/common.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/home.css" />
    <form name="form1" method="post" action="@Url.Action("Index","Home")" id="form1">
        <div>
            <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="CJwAxNxLlr+Qy1gDYmvh8Ps4fhCWHRwvOhgrX2MajjLbJhMdnkzarNBa/Itlw3JFDVjjCe13Rq2Q+HtntEQHtk+Zo0RSytouFOKEzDHzYEvq9wahlSvij1FQHD0=" />
        </div>
        <div>
            <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="90059987" />
        </div>

        <!-- wrapper start -->
        <div class="wrapper">
            <!-- /////////////////////////////////////////////////////////////////////////// -->
            <!-- head start -->
            <!-- /////////////////////////////////////////////////////////////////////////// -->
            <div class="head">
                <div class="topLinkBg">
                    <div class="topLink">
                        <ul class="topLinkList">
                            <li class="firstTopLink"><a href="@Url.Action("Index","Home")">首页</a></li>
                            <li class="memberLink">企业成员</li>
                            <li class="LastTopLink"><a href="@Url.Action("ContactUs","Home")">联系我们</a></li>
                        </ul>
                        <ul class="members">
                            <li><a target="_blank" href="http://www.ezconn.com/">光红建圣</a></li>

                        </ul>
                    </div>
                </div>
                <div class="topLogoRow">
                    <div class="logo">
                        <a href="@Url.Action("Index","Home")"><img src="../../Content/image/common/2.png" /></a>
                    </div>
                    <div class="search">
                        <div class="searchRow0">
                            <a href="/en/index.html"><i></i>English</a>
                            <a class="lanActive" href="@Url.Action("Index","Home")"><i></i>中文</a>
                        </div>
                        <div class="searchRow1">
                            <input type="text" id="txt1" onkeydown="if(event.keyCode==13) return searchAll();" class="searchText" />
                            <input type="button" class="searchBtn" onclick="searchAll()" title="搜索" />
                        </div>
                    </div>
                </div>
                <div class="topNav">
                    <div class="topNavList">
                        <!--  -->
                        <a href="@Url.Action("About","Home")">关于光圣</a>

                        <a href="@Url.Action("Product","Home")">产品介绍</a>
                        <a href="@Url.Action("Activity","Home")">光圣风采</a>
                        <a href="@Url.Action("ContactUs","Home")">联系我们</a>
                        <a href="@Url.Action("Person","Home")">人力资源</a>
                        <!--  -->
                        <div class="topNavSub">
                            <div class="activeLeft"></div>
                            <div class="activeRight"></div>
                        </div>
                    </div>
                </div>
                <div class="subNavWrapper">
                    <div class="subNavSet">
                        <div class="subNav sub0">
                            <span> <i class="subBgTopLeft"></i> <i class="subBgBotLeft"></i> </span>
                            <ul>
                                <li>
                                    <a href="@Url.Action("About","Home")">光圣简介</a>
                                    <a href="@Url.Action("Social","News")">社会责任</a>
                                    <a href="@Url.Action("News","News")">新闻中心</a>
                                </li>
                            </ul>
                            <span class="features">
                                <i> <img width="177" height="100" src="~/Content/image/bgdl.jpg" /> <em> <span style="text-align:center;"> <strong>办公大楼</strong> </span> </em> </i>
                            </span>
                        </div>

                        <div class="subNav sub1">
                            <span><i class="subBgTopLeft"></i><i class="subBgBotLeft"></i></span>
                            <ul>
                                <li>
                                    <a href="@Url.Action("Product","Home")">RF产品</a>
                                    <a href="@Url.Action("Optical","Optical")">光通讯产品</a>
                                </li>
                            </ul>
                            <span class="features"><i><img width="177" height="100" src="~/Content/image/chanpin.png" /><em><strong>让事情简单化，让产品极致化</strong></em></i></span>
                        </div>
                        <div class="subNav sub2">
                            <span><i class="subBgTopLeft"></i><i class="subBgBotLeft"></i></span>
                            <ul>
                                <li>
                                    <a href="@Url.Action("Activity","Home")">QCC</a>
                                    <a href="@Url.Action("Ball","Activity")">躲避球</a>
                                    <a href="@Url.Action("Party","Activity")">公司年会</a>
                                </li>
                            </ul>
                            <span class="features"><i><img width="177" height="100" src="~/Content/image/fc.jpg" /><em><strong>不断丰富公司文化活动</strong></em></i></span>
                        </div>
                        <div class="subNav sub3">
                            <span><i class="subBgTopLeft"></i><i class="subBgBotLeft"></i></span>
                            <ul>
                                <li>
                                    <a href="@Url.Action("ContactUs","Home")">公司信息</a>
                                    <a href="@Url.Action("Govern","About")">公司治理</a>
                                    <a href="@Url.Action("Notice","About")">临时公告</a>
                                </li>
                            </ul>
                            <span class="features"><i><img width="177" height="100" src="~/Content/image/tz.jpg" /><em><strong>可持续发展</strong></em></i></span>
                        </div>
                        <div class="subNav sub4">
                            <span><i class="subBgTopLeft"></i><i class="subBgBotLeft"></i></span>
                            <ul>
                                <li>
                                    <a href="@Url.Action("Person","Home")">人才理念</a>
                                    <a href="@Url.Action("Recruit","Person")">人才招聘</a>
                                </li>
                            </ul>
                            <span class="features"><i><img width="177" height="100" src="~/Content/image/ren.jpg" /><em><strong>诚实、务实、确实、创新</strong></em></i></span>
                        </div>
                    </div>
                </div>
                <div class="banner">
                    <!-- slider start -->
                    <div id="slider1" class="slider">
                        <div class="conbox">
                            <div style="text-align:center;">
                                <a href="@Url.Action("Product","Home")"> <img width="100%" src="~/Content/image/s1.jpg" /></a>
                            </div>
                            <div style="text-align:center;">
                                <a href="@Url.Action("Optical","Optical")"> <img width="100%" src="~/Content/image/s2.jpg" /></a>
                            </div>
                            <div style="text-align:center;">
                                <a href="@Url.Action("About","Home")"> <img width="100%" src="~/Content/image/s3.jpg" /></a>
                            </div>
                            <div style="text-align:center;">
                                <a href="@Url.Action("ContactUs","Home")"> <img width="100%" src="~/Content/image/s4.jpg" /></a>
                            </div>
                            <div style="text-align:center;">
                                <a href="@Url.Action("ContactUs","Home")"> <img width="100%" src="~/Content/image/s5.jpg" /></a>
                            </div>
                        </div>
                        <div class="switcher">
                            <a href="@Url.Action("Product","Home")" class="cur"></a>
                            <a href="@Url.Action("Optical","Optical")"></a>
                            <a href="@Url.Action("About","Home")"></a>
                            <a href="@Url.Action("ContactUs","Home")"></a>
                            <a href="@Url.Action("ContactUs","Home")"></a>

                        </div>
                    </div>
                    <!-- slider end -->
                </div>
            </div>
            <script type="text/javascript" src="~/Scripts/jquery-1.9.1.min.js"></script>
            <script type="text/javascript">
                function searchAll() {
                    var v = document.getElementById("txt1").value;
                    if (v == "") {
                        alert("请输入关键字！");
                        return false;
                    } else {

                        var url = "../Search.aspx?key=" + escape(v);
                        location.href = url;
                    }
                    return false;
                }
            </script>
            <!-- head end -->
            <!-- /////////////////////////////////////////////////////////////////////////// -->
            <!-- content start -->
            <!-- /////////////////////////////////////////////////////////////////////////// -->
            <div class="content">
                <div class="contentRow0">
                    <div class="news">
                        <div class="rowHead">
                            <i>新闻动态</i>
                            <em><a href="@Url.Action("News","News")">更多</a> </em>
                        </div>
                        <div class="newsRow0">
                            <div class="newsPic">
                                <a href="@Url.Action("Activity","Home")"> <img src="~/Content/image/x1.jpg" /> </a>
                            </div>
                            <div class="newsMess">
                                <i><a href="@Url.Action("Activity","Home")">QCC活动</a></i>
                                <em>2016 年 9 月 20 日 </em>
                                <span>发布日期：2016-09-20</span>
                            </div>
                        </div>
                        <div class="newsRow1">
                            <a href=""><i></i><em>光圣科技</em><span>[2016-12-03]</span></a>
                            <a href=""><i></i><em>光圣科技</em><span>[2016-12-07]</span></a>


                        </div>
                    </div>
                    <div class="rnd">
                        <div class="rowHead">
                            <i>光圣风采</i>
                            <em><a href="@Url.Action("Activity","Home")">更多</a> </em>
                        </div>
                        <div class="rndRow0">
                            <div class="rndPic">
                                <!-- slider start -->
                                <div id="slider2" class="slider2">
                                    <div class="conbox2">
                                        <div>
                                            <a href="@Url.Action("Ball","Activity")"> <img width="469" height="200" src="~/Content/image/F1.jpg" /></a>
                                        </div>
                                        <div>
                                            <a href="@Url.Action("Party","Activity")"> <img width="469" height="168" src="~/Content/image/F5.jpg" /></a>
                                        </div>
                                        <div>
                                            <a href="@Url.Action("Activity","Home")"> <img width="469" height="200" src="~/Content/image/F3.jpg" /></a>
                                        </div>
                                    </div>
                                    <div class="switcher2">
                                        <a href="#" class="cur2"></a>
                                        <a href="#"></a>
                                        <a href="#"></a>
                                    </div>
                                </div>
                                <!-- slider end -->
                            </div>

                        </div>
                    </div>
                </div>
                <div class="contentRow1">
                    <div class="rowHead">
                        <i>产品介绍</i>
                        <em><a href="@Url.Action("Product","Home")">更多</a> </em>
                    </div>
                    <div class="proCol0">
                        <div>
                            <i><a href="@Url.Action("Product","Home")">RF产品</a></i>
                            <em>[2016-11-30]</em>
                            <span></span>
                        </div>
                        <div>
                            <i><a href="@Url.Action("Optical","Optical")">光通讯产品</a></i>
                            <em>[2016-11-30]</em>
                            <span></span>
                        </div>
                    </div>
                    <div class="proCol1">
                        <div class="proPic firstOne">

                            <img src="~/Content/image/hj.jpg" /><i>生产环境</i>
                        </div>
                        <div class="proPic">

                            <img src="~/Content/image/yf.jpg" /><i>产品研发</i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content end -->
            <!-- /////////////////////////////////////////////////////////////////////////// -->
            <!-- foot start -->
            <!-- /////////////////////////////////////////////////////////////////////////// -->
            <div class="foot">

                <div class="footMid">
                    <ul>
                        <li>
                            <i><a href="@Url.Action("About","Home")">关于光圣</a></i>
                            <a href="@Url.Action("About","Home")">光圣简介</a>
                            <a href="@Url.Action("Social","News")">社会责任</a>
                            <a href="@Url.Action("News","News")">新闻中心</a>
                        </li>

                        <li>
                            <i><a href="@Url.Action("Product","Home")">产品介绍</a></i>
                            <a href="@Url.Action("Product","Home")">RF产品</a>
                            <a href="@Url.Action("Optical","Optical")">光通讯产品</a>
                        </li>

                        <li>
                            <i><a href="@Url.Action("Activity","Home")">光圣风采</a></i>
                            <a href="@Url.Action("Activity","Home")">QCC</a>
                            <a href="@Url.Action("Ball","Activity")">躲避球</a>
                            <a href="@Url.Action("Party","Activity")">公司年会</a>
                        </li>

                        <li>
                            <i><a href="@Url.Action("ContactUs","Home")">联系我们</a></i>
                            <a href="@Url.Action("ContactUs","Home")">公司信息</a>
                            <a href="@Url.Action("Govern","About")">公司治理</a>
                            <a href="@Url.Action("Notice","About")">临时公告</a>
                        </li>

                        <li class="lastFootList">
                            <i><a href="@Url.Action("Person","Home")">人力资源</a></i>
                            <a href="@Url.Action("Person","Home")">人才理念</a>
                            <a href="@Url.Action("Recruit","Person")">人才招聘</a>
                        </li>
                    </ul>




                </div>
            </div>

        </div>
        <!-- foot end -->
    </form>
    <script type="text/javascript" src="~/Scripts/common.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.Xslider.js"></script>
    <script type="text/javascript">
        $(function () {

            // slider 0
            $("#slider1").Xslider({
                affect: 'scrollx',
                speed: 800,
                space: 6000,
                auto: true,
                trigger: 'mouseover',
                conbox: '.conbox',
                ctag: 'div',
                switcher: '.switcher',
                stag: 'a',
                current: 'cur',
                rand: false
            });

            // slider 1
            $("#slider2").Xslider({
                affect: 'scrollx',
                speed: 800,
                space: 6000,
                auto: true,
                trigger: 'mouseover',
                conbox: '.conbox2',
                ctag: 'div',
                switcher: '.switcher2',
                stag: 'a',
                current: 'cur2',
                rand: false
            });

        })
    </script>
</body>
</html>

